<style>
    .no-break {
        page-break-inside: avoid;
        page-break-after: always;
    }
    * {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
</style>

<div>
    {% macro format_date(date_string) %}
    {% set year, month, day = date_string.split('-') %}
    {{ month }}/{{ day }}/{{ year }}
    {% endmacro %}

    <!-- HEADER -->

    <table style="width: 100%; font-size: 14px;">
        <tr>
            <td style="text-align: center; vertical-align: top;" colspan="2">
                <p style="font-size: 24px; font-weight: bold; margin-top: 20px;">SALES ORDER</p>
            </td>
        </tr>
    </table>
    <table style="width: 100%;  font-size: 14px;">
        <tr style="width: 100%;">
            <td style="width: 15%; height: 100%; vertical-align: top;">
                <div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 50%;">
                    <img style="max-width: 100%; height: 50%; object-fit: contain;" alt="Image not available"
                        src="https://ultronapi-g-p.sourcerer.tech/artifact/v1/file/104488b9-291d-4556-ab30-d39d7479df90" />
                </div>
            </td>
            <!-- <td style=" width: 10%;">
                <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
                    <img style="height: 1in; width: 1.5in;" alt="logo"
                           src="https://ultronapi-g-p.sourcerer.tech/artifact/v1/file/104488b9-291d-4556-ab30-d39d7479df90" />
                </div>
            </td> -->
            <td style=" width: 55%; vertical-align: top;">
                <div style="display: flex; flex-direction: column;">
                    <p style="font-size: 26px; font-weight: bold; margin: 0;">{{header}}</p>
                    <p style="width: 50%; margin: 0; margin-top: 10px;">{{tenant_address}}</p>
                </div>
            </td>
            <td style="width: 30%; vertical-align: top;">
                <table style="width: 100%; font-size: 14px;">
                    {% if all_document_data.created_at %}
                    <tr>
                        <td style="width: 30%;">
                            Date:
                        </td>
                        <td style="font-weight: bold; text-align: end; vertical-align: top; width: 70%;">
                            {{ all_document_data.created_at }}
                        </td>
                    </tr>
                    {% endif %}
                    {% if doc_type %}
                    <tr>
                        <td style="width: 40%;">
                            {{doc_type}}:
                        </td>
                        <td style="font-weight: bold; text-align: end; vertical-align: top; width: 60%;">
                            {{system_id}}
                        </td>
                    </tr>
                    {% endif %}
                    {% if po_number %}
                    <tr>
                        <td style="width: 40%;">
                            PO number:
                        </td>
                        <td style="font-weight: bold; text-align: end; vertical-align: top; width: 60%;">
                            {{po_number}}
                        </td>
                    </tr>
                    {% endif %}
                    {% if doc_type %}
                    <tr>
                        <td style="width: 40%;">
                            Doc Type:
                        </td>
                        <td style="font-weight: bold; text-align: end; vertical-align: top; width: 60%;">
                            {{doc_type}}
                        </td>
                    </tr>
                    {% endif %}
                    {% if show_code %}
                    <tr>
                        <td style="width: 40%;">
                            Show Name :
                        </td>
                        <td style="font-weight: bold; text-align: end; vertical-align: top; width: 60%;">
                            {{show_code}}
                        </td>
                    </tr>
                    {% endif %}
                </table>
            </td>
        </tr>
    </table>

    <div style="width: 100%; border: 1px solid #515151; margin-top: 10px;"></div>

    <!-- BUYER DETAILS -->
    <table style="width: 100%; font-size: 14px;">
        <tr>
            <td style="width: 33%; padding: 10px 10px 10px 0; vertical-align: top;">
                <div style="display: flex; flex-direction: column; gap: 4px;">
                    {% if buyer_name %}
                    <p style="margin:0; font-weight: bold;">{{buyer_name}}</p>
                    {% endif %}
                    {% if buyer_contact_first_name or buyer_contact_last_name %}
                    <p style="margin:0; color: #515151; height: 16px;">{{buyer_contact_first_name}}
                        {{buyer_contact_last_name}}</p>
                    {% endif %}
                    {% if buyer_contact_designation %}
                    <p style="margin:0; color: #515151; height: 16px;">{{buyer_contact_designation}}</p>
                    {% endif %}
                    {% if buyer_email %}
                    <p style="margin:0; color: #515151; height: 16px;">{{buyer_email}}</p>
                    {% endif %}
                    {% if contact_attributes and contact_attributes['6241dcaf-9799-4b22-82de-878c3c17ac18'] %}
                    <p style="margin:0; color: #515151; height: 16px;">{{
                        contact_attributes['6241dcaf-9799-4b22-82de-878c3c17ac18'].value }}</p>
                    {% endif %}
                </div>
            </td>
            <td style="width: 33%; padding: 10px 10px 10px 0; vertical-align: top;">
                <div style="display: flex; flex-direction: column; gap: 4px;">
                    <p style="margin:0; font-weight: bold;">Bill To</p>

                    {% if billing_address.first_name or billing_address.last_name %}
                    <p style="margin:0; color: #515151; height: 16px;">{{billing_address.first_name}}
                        {{billing_address.last_name}}</p>
                    {% endif %}

                    {% if billing_address.country_code and billing_address.phone %}
                    <p style="margin:0; color: #515151; height: 16px;">{{billing_address.country_code}}
                        {{billing_address.phone}}</p>
                    {% endif %}

                    {% if billing_address.street_address %}
                    <p style="margin:0; color: #515151; min-height: 16px;">{{billing_address.street_address}}</p>
                    {% endif %}

                    {% if billing_address.address_line_1 %}
                    <p style="margin:0; color: #515151; min-height: 16px;">{{billing_address.address_line_1}}</p>
                    {% endif %}

                    {% if billing_address.address_line_2 %}
                    <p style="margin:0; color: #515151; min-height: 16px;">{{billing_address.address_line_2}}</p>
                    {% endif %}

                    {% if billing_address.address_line_3 %}
                    <p style="margin:0; color: #515151; min-height: 16px;">{{billing_address.address_line_3}}</p>
                    {% endif %}

                    {% if billing_address.city or billing_address.state or billing_address.pincode %}
                    <p style="margin:0; color: #515151; min-height: 16px;">
                        {% if billing_address.city %}{{billing_address.city}}{% endif %}
                        {% if billing_address.state %}{% if billing_address.city %}, {% endif %}{{billing_address.state}}{% endif %}
                        {% if billing_address.pincode %}{% if billing_address.city or billing_address.state %}, {% endif %}{{billing_address.pincode}}{% endif %}
                    </p>
                    {% endif %}

                    {% if billing_address.country %}
                    <p style="margin:0; color: #515151; height: 16px;">{{billing_address.country}}</p>
                    {% endif %}


                    {% if contact_attributes and contact_attributes['94092612-9bda-4053-9864-e3c449e2ff47'] %}
                    <p style="margin:0; color: #515151; height: 16px;">{{
                        contact_attributes['94092612-9bda-4053-9864-e3c449e2ff47'].value }}</p>
                    {% endif %}

                    {% if contact_attributes and contact_attributes['6241dcaf-9799-4b22-82de-878c3c17ac18'] %}
                    <p style="margin:0; color: #515151; height: 16px;">{{
                        contact_attributes['6241dcaf-9799-4b22-82de-878c3c17ac18'].value }}</p>
                    {% endif %}
                </div>
            </td>
            <td style="width: 33%; padding: 10px 10px 10px 0; vertical-align: top;">
                <div style="display: flex; flex-direction: column; gap: 4px;">

                    <p style="margin:0; font-weight: bold;">Ship To</p>

                    {% if shipping_address.first_name or shipping_address.last_name %}
                    <p style="margin:0; color: #515151; height: 16px;">{{shipping_address.first_name}}
                        {{shipping_address.last_name}}</p>
                    {% endif %}

                    {% if shipping_address.country_code and shipping_address.phone %}
                    <p style="margin:0; color: #515151; min-height: 16px;">{{shipping_address.country_code}}
                        {{shipping_address.phone}}</p>
                    {% endif %}

                    {% if shipping_address.street_address %}
                    <p style="margin:0; color: #515151; min-height: 16px;">{{shipping_address.street_address}}</p>
                    {% endif %}

                    {% if shipping_address.address_line_1 %}
                    <p style="margin:0; color: #515151; min-height: 16px;">{{shipping_address.address_line_1}}</p>
                    {% endif %}

                    {% if shipping_address.address_line_2 %}
                    <p style="margin:0; color: #515151; min-height: 16px;">{{shipping_address.address_line_2}}</p>
                    {% endif %}

                    {% if shipping_address.address_line_3 %}
                    <p style="margin:0; color: #515151; min-height: 16px;">{{shipping_address.address_line_3}}</p>
                    {% endif %}

                    {% if shipping_address.city or shipping_address.state or shipping_address.pincode %}
                    <p style="margin:0; color: #515151; min-height: 16px;">
                        {% if shipping_address.city %}{{shipping_address.city}}{% endif %}
                        {% if shipping_address.state %}{% if shipping_address.city %}, {% endif %}{{shipping_address.state}}{% endif %}
                        {% if shipping_address.pincode %}{% if shipping_address.city or shipping_address.state %}, {% endif %}{{shipping_address.pincode}}{% endif %}
                    </p>
                    {% endif %}

                    {% if shipping_address.country %}
                    <p style="margin:0; color: #515151; height: 16px;">{{shipping_address.country}}</p>
                    {% endif %}


                    {% if contact_attributes and contact_attributes['94092612-9bda-4053-9864-e3c449e2ff47'] %}
                    <p style="margin:0; color: #515151; height: 16px;">{{
                        contact_attributes['94092612-9bda-4053-9864-e3c449e2ff47'].value }}</p>
                    {% endif %}

                    {% if address_attribute and address_attribute['8e104de8-f5e1-49ae-a258-ccab79bf34d2'] %}
                    <p style="margin:0; color: #515151; height: 16px;">{{
                        address_attribute['8e104de8-f5e1-49ae-a258-ccab79bf34d2'].value }}</p>
                    {% endif %}
                </div>
            </td>
        </tr>
    </table>

    <div style="width: 100%; border: 1px solid #515151;"></div>

    <table style="width: 100%; font-size: 14px;">
        <tr>
            <td style="width: 65%; padding: 10px 10px 10px 0; vertical-align: top;">
                <table style="width: 100%; font-size: 14px;">
                    {% if ship_date %}
                    <tr>
                        <td style="font-weight: bold; width: 32%;">
                            Ship Date:
                        </td>
                        <td style="width: 68%;">
                            {{ format_date(ship_date) }}
                        </td>
                    </tr>
                    {% endif %}
                    {% if payment_terms %}
                    <tr>
                        <td style="font-weight: bold; width: 32%;">
                            Payment Terms :
                        </td>
                        <td style="width: 68%;">
                            {{payment_terms}}
                        </td>
                    </tr>
                    {% endif %}
                    {% if payment_method %}
                    <tr>
                        <td style="font-weight: bold; width: 32%;">
                            Payment Method :
                        </td>
                        <td style="width: 68%;">
                            {{payment_method}}
                        </td>
                    </tr>
                    {% endif %}
                </table>
            </td>
            
            <td style="width: 35%; padding: 10px 10px 10px 0; vertical-align: top; margin-left: auto;">
                <table style="width: 100%; font-size: 14px;">
                    {% if sales_person %}
                    <tr>
                        <td style="font-weight: bold; width: 60%;">
                            Sales Person :
                        </td>
                        <td style="width: 40%;">
                            {{sales_person}}
                        </td>
                    </tr>
                    {% endif %}
                    {% if shipping_method %}
                    <tr>
                        <td style="font-weight: bold; width: 60%;">
                            Shipping Method :
                        </td>
                        <td style="width: 40%;">
                            {{shipping_method}}
                        </td>
                    </tr>
                    {% endif %}
                </table>
            </td>
        </tr>
    </table>

    {% if payment_terms or payment_method or ship_date or sales_person or shipping_method %}
    <div style="width: 100%; border: 1px solid #515151; margin-bottom: 10px;"></div>
    {% endif %}

    <!-- Product List -->
    <div style="margin: 0; padding: 0;">
        <table style="width: 100%; border-collapse: collapse; margin-top: 20px; font-size: 12px;">
            <tbody>
                <!-- Column Headers -->
                <tr style="padding: 5px; background: #E4F1EF; font-weight: bold;">
                    <td style="width: 5%; padding: 5px; text-align: left; padding-left: 16px;">#</td>
                    <td style="width: 15%; padding: 5px; text-align: center;">Image</td>
                    <td style="width: 41%; padding: 5px; text-align: left;">Item & Description</td>
                    <td style="width: 6%; padding: 5px; text-align: center;">Qty</td>
                    <td style="width: 10%; padding: 5px; text-align: center;">Price</td>
                    <td style="width: 13%; padding: 5px; text-align: center;">Offered Price</td>
                    <td style="width: 10%; padding: 5px; text-align: center;">Amount</td>
                </tr>
                {% for product in products %}
                <!-- Product Row -->
                <tr
                    style="height: 120px !important; max-height: 120px !important; page-break-inside: avoid !important; overflow: hidden; border-bottom: 2px solid #b4b4b4;">
                    <td style="vertical-align: top; padding: 16px;">{{product.ser_no}}</td>
                    <td style="padding: 5px; vertical-align: top; height: 120px; padding-top: 8px;">
                        <img src="{{ product.image_url }}" alt="Product Image"
                            style="width: 80px; height: 80px ;page-break-inside: avoid !important; ; margin-left: 20px" />
                    </td>
                    <td
                        style="padding: 5px; page-break-inside: avoid !important; vertical-align: top; color: #515151; padding-top: 8px;">
                        <div style="display: flex; flex-direction: column; justify-content: space-between;">
                            <p style="font-weight: bold; margin: 0;">{{ product.name }}</p>
                            <p style="margin-top: 10px;">{{ product.sku_id }}</p>
                            <p style="margin-top: 10px;">{{product.hinges_values}}</p>
                            <p style="margin-top: 10px;">{{note|replace('\n', '<br>')}}</p>
                        </div>
                    </td>
                    <td
                        style="padding: 5px; page-break-inside: avoid !important; vertical-align: top; text-align: center; color: #515151; padding-top: 8px;">
                        {{ product.qty|int }}</td>
                    <td
                        style="padding: 5px; page-break-inside: avoid !important; vertical-align: top; text-align: center; color: #515151; padding-top: 8px;">
                        {{ product.price }}
                    </td>
                    <td
                        style="padding: 5px; page-break-inside: avoid !important; vertical-align: top; color: #515151; padding-top: 8px;">
                        <div
                            style="display: flex; flex-direction: column; justify-content: space-between; text-align: center;">
                            <p style="margin: 0;"> {{ product.offered_price }}</p>
                            {% if product.discount and product.discount != "0 %" %}
                            <p style="margin-top: 10px;">(-{{ product.discount }})</p>
                            {% endif %}
                        </div>
                    </td>
                    <td
                        style="padding: 5px; page-break-inside: avoid !important; vertical-align: top; text-align: center; color: #515151; padding-top: 8px;">
                        {{ product.amount }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <!-- CHARGES -->
    <table style="width: 35%; font-size: 14px; margin-left: auto; margin-top: 20px; border-collapse: collapse;">
        <tr>
            <td style="font-size: 16px; width: 55%; padding: 6px 0;">
                Sub total
            </td>
            <td style="font-size: 16px; width: 45%; padding: 6px 0; text-align: end;">
                {{cart_total}}
            </td>
        </tr>
        {% for charge in charges %}
        {% set charge_value_number = charge.charge_value | replace('$', '') | replace(',', '') | replace(' ', '') | int %}
        {% if not charge_value_number == 0 %}
        <tr>
            <td style="font-size: 16px; width: 55%; padding: 6px 0;">
                {{ charge.charge_name }}{% if charge.percentage %} ({{ charge.percentage }}){% endif %}
            </td>
            <td style="font-size: 16px; width: 45%; padding: 6px 0; text-align: end;">
                {{charge.charge_value}}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        <tr>
            <td style="font-size: 16px; font-weight: bold; width: 55%; padding: 6px 0; border-top: 2px solid #515151;">
                Total
            </td>
            <td
                style="font-size: 16px; font-weight: bold; width: 45%; padding: 6px 0; border-top: 2px solid #515151; text-align: end;">
                {{total}}
            </td>
        </tr>
    </table>

    <div style="width: 100%; border: 1px solid #515151; margin: 20px 0;"></div>

    <!-- NOTES -->
    <table style="width: 100%; font-size: 14px;">

        {% if customer_notes %}
        <tr>
            <td style="font-size: 18px; font-weight: bold; color: #515151;">
                Note To Customer :
            </td>
        </tr>
        <tr>
            <td>
                {{ customer_notes }}
            </td>
        </tr>
        {% endif %}
        {% if user_notes %}
        <tr>
            <td style="font-size: 18px; font-weight: bold; color: #515151;">
                Internal Notes :
            </td>
        </tr>
        <tr>
            <td>
                {{user_notes}}
            </td>
        </tr>
        {% endif %}
    </table>
</div>


<style type="text/css">
    .avoid {
        page-break-inside: avoid !important;
        margin: 4px 0 4px 0;
    }
</style>