<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.cdnfonts.com/css/satoshi" rel="stylesheet">
</head>

<style>
    @page {
        size: A4;
        margin: 15mm;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Satoshi', sans-serif;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        text-align: left;
        vertical-align: top;
    }

    header {
        border-bottom: 1px solid #0000001F;
    }

    footer {
        background-color: #EEF1F7;
        padding: 5px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .divider {
        border: 1px dashed #B5BBC3;
        margin: 16px 0;
    }

    .header-divider {
        border: 1px solid #B5BBC3;
        margin: 2px 0;
        margin-bottom: 15px;
    }

    .chip {
        padding: 3px 6px;
        background-color: #F2F4F7;
        border-radius: 3px;
        font-size: 13px;
        color: #4F555E;
        display: inline-block;
    }

    .availability {
        display: flex;
        gap: 5px;
        background-color: #F2F6E7;
        padding: 3px 8px;
        align-items: center;
        border-radius: 44px;
    }

    .green-dot {
        height: 8px;
        width: 8px;
        background-color: #7DA50E;
        border-radius: 50%;
    }
</style>

<body>
    {% macro format_date(date_string) %}
    {% set date_part = date_string.split('T')[0] %} {# Extract the date part (YYYY-MM-DD) #}
    {% set year, month, day = date_part.split('-') %} {# Split into year, month, and day #}
    {{ month }}/{{ day }}/{{ year }} {# Format as MM/DD/YYYY #}
    {% endmacro %}
    <!-- Main Container -->
    <div>
        <!-- Header -->
        <header>
            <table style="width: 100%; border-bottom: 1px solid #0000001F; padding: 8px 0; border-collapse: collapse;">
                <tr>
                    <!-- Logo -->
                    <td style="width: 25%; text-align: left; vertical-align: middle;">
                        <img src="Assets/logo.png" alt="Logo" style="object-fit: contain; height: 55px; width: auto;">
                    </td>
                    <!-- Sheet Title -->
                    <td style="width: 50%; text-align: center; vertical-align: bottom;">
                        <h1 style="font-weight: 700; color: #25282D; font-size: 20px; margin: 0; padding-bottom: 10px;">
                            {{ sheet_title }}
                            Dallas Tradeshow Collection
                        </h1>
                    </td>
                    <!-- Date -->
                    <td style="width: 25%; text-align: right; vertical-align: bottom;">
                        <p style="font-size: 16px; color: #4F555E; font-weight: 200; margin: 0; padding-bottom: 10px;">
                            {{ format_date(updated_at) }}
                        </p>
                    </td>
                </tr>
            </table>
        </header>

        <div class="header-divider"></div>

        <!-- Main Content -->
        <main style="height: 80%;">
            <!-- Loop through products in groups of 2 -->
            <div>
                {% for product in products %}
                {% if product.product_image_1 and product.product_image_2 and product.product_image_3 %}
                <table style="width: 100%; height: 40%; border-collapse: collapse;">
                    <tr>
                        <td style="width: 60%; height: 100%; vertical-align: top; padding-right: 5px;">
                            <img src="{{ product.product_image_1 }}" alt="Product Image1"
                                style="width: 100%; height: 100%; object-fit: contain; border-radius: 8px; padding: 3px; border: 1px solid lightgray;">
                        </td>

                        <td style="width: 40%; height: 100%; vertical-align: top;">
                            <table style="width: 100%; height: 100%; border-collapse: collapse;">
                                <tr>
                                    <td style="padding-bottom: 2px;">
                                        <img src="{{ product.product_image_2 }}" alt="Product Image2"
                                            style="width: 100%; height: 90%; object-fit: contain; border-radius: 8px; padding: 3px; border: 1px solid lightgray;">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="{{ product.product_image_3 }}" alt="Product Image3"
                                            style="width: 100%; height: 90%; object-fit: contain; border-radius: 8px; padding: 3px; border: 1px solid lightgray;">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                {% elif product.product_image_1 and ( product.product_image_2 or product.product_image_3 ) %}
                <table style="width: 100%; height: 40%; border-collapse: collapse;">
                    <tr>
                        <td style="width: 50%; vertical-align: top; padding-right: 5px;">
                            <img src="{{ product.product_image_1 }}" alt="Product Image1"
                                style="width: 100%; height: auto; object-fit: contain; border-radius: 8px; padding: 3px; border: 1px solid lightgray;">
                        </td>

                        <td style="width: 50%; vertical-align: top;">
                            {% if product.product_image_2 %}
                            <img src="{{ product.product_image_2 }}" alt="Product Image2"
                                style="width: 100%; height: auto; object-fit: contain; border-radius: 8px; padding: 3px; border: 1px solid lightgray;">
                            {% elif product.product_image_3  %}
                            <img src="{{ product.product_image_3 }}" alt="Product Image3"
                                style="width: 100%; height: auto; object-fit: contain; border-radius: 8px; padding: 3px; border: 1px solid lightgray;">
                            {% endif %}
                        </td>
                    </tr>
                </table>
                {% elif product.product_image_1 %}
                <table style="width: 100%; height: 100mm; border-collapse: collapse;">
                    <tr>
                        <td style="width: 100%; vertical-align: top; text-align: center; border: 1px solid lightgray; padding: 5px; box-sizing: border-box;">
                            <img src="{{ product.product_image_1 }}" alt="Product Image1"
                                style="width: 50%; max-height: 100mm; aspect-ratio: 4/3; object-fit: cover; border-radius: 8px;">
                        </td>
                    </tr>
                </table>
                {% endif %}
                <div style="height: 60%;">
                    <table>
                        <tr style="width: 100%;">
                            <td style="width: 100%;">
                                <table
                                    style="width: auto; margin: 10px 0; border-collapse: collapse; border-spacing: 0;">
                                    <tr>
                                        {% for attribute in product.product_hinges %}
                                        <!-- Attribute Value -->
                                        <td
                                            style="font-size: 16px; font-weight: 400; color: #4F555E; line-height: 17.55px; padding-right: 6px; padding-left: 0px;">
                                            {{ attribute.variants }}
                                        </td>

                                        {% if not loop.last %} <!-- Add dot separator if not the last attribute -->
                                        <td
                                            style="font-size: 13px; font-weight: 400; color: #4F555E; line-height: 17.55px; padding-right: 6px; padding-left: 0px;">
                                            &#8226;
                                        </td>
                                        {% endif %}
                                        {% endfor %}
                                    </tr>
                                </table>
                                <h2
                                    style="font-size:25px; font-weight:800; color:rgba(0,0,0,0.87); margin-bottom: 8px;">
                                    {{ product.product_name }}
                                </h2>
                                <p style="font-size:15px; font-weight:400; color:#676D77; margin-bottom: 15px;">{{
                                    product.sku_id }}</p>
                                <div style="margin:8px 0;">
                                    <!-- Chips -->
                                    {% for attribute in product.hinge_attributes %}
                                    <span class="chip">{{ attribute.name }}: {{ attribute.value }}</span>
                                    {% endfor %}
                                </div>
                                <table style="margin: 8px 0; border-collapse: collapse; width: auto;">
                                    <tr>
                                        <!-- Price -->
                                        <td
                                            style="vertical-align: middle; font-size: 16px; font-weight: 700; color: #25282D; text-align: left; padding-right: 0;">
                                            {{ product.price_currency }}{{ product.price_value }}
                                        </td>
                                        <!-- MOQ -->
                                        {% if product.moq %}
                                        <td
                                            style="vertical-align: middle; font-size: 13px; font-weight: 400; color: #4F555E; text-align: left;">
                                            (MOQ - {{ product.moq }})
                                        </td>
                                        {% endif %}
                                    </tr>
                                </table>
                                <table
                                    style="width: auto; background-color: #F2F6E7; padding: 0; border-radius: 12px; margin-top: 8px; border-collapse: collapse; border-spacing: 0;">
                                    <tr>
                                        <!-- Green Dot -->
                                        <td
                                            style="vertical-align: middle; text-align: center; padding: 4px; padding-left: 10px;">
                                            <div
                                                style="height: 8px; width: 8px; background-color: #7DA50E; border-radius: 50%;">
                                            </div>
                                        </td>
                                        <!-- Availability Text -->
                                        <td
                                            style="vertical-align: middle; text-align: left; padding: 4px; padding-right: 10px;">
                                            <p style="font-size: 13px; font-weight: 400; color: #4F555E; margin: 0;">
                                                Available: {{ product.available }} units
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                                
                            </td>
                        </tr>
                    </table>

                    <table
                        style="width: 100%; border-collapse: collapse; margin-top: 12px; font-size: 13px; color: #4F555E; margin-top: 10px;">
                        <tbody>
                            {% for attribute in product.product_attributes %}
                            <tr>
                                <!-- Attribute Name -->
                                <td
                                    style="width: 20%; font-size: 13px; font-weight: 400; color: #676D77; line-height: 17.55px; padding: 6px;">
                                    {{ attribute.name }}
                                </td>
                                <!-- Attribute Value -->
                                <td
                                    style="width: 80%; font-size: 13px; font-weight: 400; color: #25282D; line-height: 17.55px; padding: 6px;">
                                    {{ attribute.value }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <!-- Divider -->
                    <div class="divider"></div>
                    <div style="page-break-after: always;"></div>
                </div>
                {% endfor %}
        </main>

        <!-- Footer -->
        <!-- <footer>
            <a href="{{ website }}" style="color: #4F555E; font-size: 11px; font-weight: 400;">{{ website }}</a>
            <p style="color: #4F555E; font-size: 11px; font-weight: 700;">Tenant Address: {{ tenant_address }}</p>
        </footer> -->
    </div>
</body>

<style type="text/css">
    .avoid {
        page-break-inside: avoid !important;
        margin: 4px 0 4px 0;
    }
</style>